<template>
  <div >
     <q-btn color="white" text-color="black" label="Standard" @click="dailyRoi()" />

    <q-card >
      <q-item class="no-padding text-bold text-center text-caption">
        <q-item-section>
          <q-item-label>Package</q-item-label>
        </q-item-section>
        <q-item-section>
            <q-item-label>Amount<br>(N)</q-item-label>
        </q-item-section>
        <q-item-section>
          <q-item-label>ROI (%)</q-item-label>
        </q-item-section>
      </q-item>

      <!-- {{roiData[0]}} -->

      <q-list bordered separator v-for="(item, index) in roiData" :key="index" class="text-center">
        <q-item class="no-padding">
          <q-item-section>
            <q-item-label>{{item.category}}</q-item-label>
            <q-item-label caption>{{item.type}}</q-item-label>
          </q-item-section>
          <q-item-section>
              <q-item-label>{{item.amount}}</q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-bold">{{item.roi}}%</q-item-label>
            <q-item-label caption class="text-green">+{{item.new_balance}}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-card>



  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      packages:[
        {
          category: 'oil & gas',
          amount: '100,000',
          roi: '10',
          duration: '2 month',
          type: 'bronze',
          new_balance: '101,000'
        },
        {
          category: 'oil & gas',
          amount: '200,000',
          roi: '10',
          duration: '2 month',
          type: 'silver',
          new_balance: '101,000'
        },
        {
          category: 'real estate',
          amount: '500,000',
          roi: '15',
          duration: '6 month',
          type: 'bronze',
          new_balance: '101,000'
        },
        {
          category: 'oil & gas',
          amount: '300,000',
          roi: '16',
          duration: '2 month',
          type: 'gold',
          new_balance: '101,000'
        }
      ],
      roiData : null
    }
  },

  methods: {
      dailyRoi(){
      const endPoint = 'http://localhost:8000/api/dailyRoi';
      const data = this.$axios.get(endPoint)
      .then(response => {
        console.log(response);
        this.roiData = response.data.data;
      })
    }
  },
}
</script>
