<template>
  <q-page class="" >
    <q-img src="../statics/images/home.jpg" spinner-color="white" :style="'height:'+($q.screen.height - 50)+'px'">
      <div class="absolute-full flex flex-center">
        <home v-if="route == 'home'"/>
        <how v-else-if="route == 'how'"/>
        <login v-else-if="route == 'login'"/>
        <register v-else-if="route == 'register'"/>
        <forget v-else-if="route == 'forget'"/>
      </div>
    </q-img>

  </q-page>
</template>

<script>
import login from '../components/auth/login'
import register from '../components/auth/register'
import forget from '../components/auth/forget'
import home from '../components/home/index'
import how from '../components/home/how_it_works'
export default {
  name: 'PageIndex',
  components:{
    login, register, forget, home, how
  },
  computed: {
    route(){return this.$route.name}
  }
}
</script>
