<template>
   <q-page class="bg-grey-3" padding>
    <q-card dark class="bg-primary flex flex-center q-my-sm" style="margin-top:50px">
      <q-card-section>
        <div class="text-h4 text-weight-light">Investments</div>
      </q-card-section>
    </q-card>

   <investment />
  </q-page>
</template>

<script>
import investment from '../components/investment/index'
export default {
  name: 'PageIndex',
  components:{
    investment
  }
}
</script>
