<template>
  <q-page padding>
    <!-- content -->
    <q-card class="my-card">
      <q-card-section>
        <div class="text-primary text-h4">Settings</div>
      </q-card-section>
      <q-card-section class="q-gutter-xs">
        <q-input square dense outlined v-model="form.account" label="Account Number" />
        <q-input square dense outlined v-model="form.bank" label="Bank" />
      </q-card-section>
      <q-card-actions align="center">
        <q-btn flat label="Save" />
      </q-card-actions>
    </q-card>

  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
  data() {
    return {
      form:{
        account:'',
        bank:''
      }
    }
  },
}
</script>
