<template>
  <q-page class="bg-grey-3" padding>
    <q-card dark class="bg-primary flex flex-center q-my-sm" style="margin-top:50px">
      <q-card-section>
        <div class="text-h4 text-weight-light">Transaction</div>
      </q-card-section>
    </q-card>

    <transaction />
  </q-page>
</template>

<script>
import transaction from '../components/transaction/index'
export default {
  name: 'PageIndex',
  components:{
    transaction
  }
}
</script>
