<template>
  <q-card class="bg-transparent column flex-center q-gutter-y-md">
    <q-card class="bg-transparent" style="max-width: 700px">
      <q-card-section class="text-capitalize text-center text-white">
        <div class="text-bold text-h4">RRI Can Follow You Anywhere You Go</div>
        <div class="text-caption ">Vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.</div>
      </q-card-section>
      <q-card-actions class="q-gutter-xs flex flex-center" align="center">
        <q-btn color="primary" class="q-px-md" no-caps icon="fab fa-google-play" >
          <div class="text-left q-pl-sm">
            <div class="text-caption">Get it on</div>
            <div class="text-subtitle1" style="margin-top:-10px">Google play</div>
          </div>

        </q-btn>
        <q-btn color="primary" class="q-pr-xs q-pl-md" no-caps icon="fab fa-apple" >
          <div class="text-left q-pl-sm">
            <div class="text-caption">Download on the</div>
            <div class="text-subtitle1" style="margin-top:-10px">App Store </div>
          </div>
        </q-btn>
      </q-card-actions>
    </q-card>

    <div class="row q-gutter-sm">
      <q-card class="" v-for="(item, index) in items" :key="index">
        <q-card-section class="text-center text-primary">
          <q-icon size="xl" :name="item.icon" />
        </q-card-section>
        <q-card-section class="text-capitalize text-center text-primary">
          <div class="text-bold text-h5 text-capitalize">{{item.title}}</div>
          <div class="text-caption ">{{item.description}}</div>
        </q-card-section>
      </q-card>
    </div>

  </q-card>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      items:[
        {
          icon: 'ion-wallet',
          title: 'register on Royal Real Investment',
          description: 'Download an app dolorts adipis sit ametcon sectetur'
        },
        {
          icon: 'fas fa-piggy-bank',
          title: 'Invest',
          description: 'Once Your wallet is dolorts adipis sit ametcon sectetur'
        },
        {
          icon: 'ion-card',
          title: 'Recieve Daily ROI',
          description: 'The process of sending dolorts adipis sit ametcon sectetur'
        }

      ]
    }
  }
}
</script>
