<template>
  <q-card class="bg-transparent">
    <q-card-section class="text-capitalize text-center text-white">
      <div class="text-bold text-h4">Royal Real investment as easy as your name</div>
      <div class="text-caption ">Royal Real investment as easy as your name</div>
    </q-card-section>
    <q-card-actions align="center">
      <q-btn color="primary" class="q-px-md" no-caps label="Login" :to="{name: 'login'}" />
      <q-btn color="white" class="q-px-md" no-caps outline label="SignUp" :to="{name: 'register'}" />
    </q-card-actions>
  </q-card>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {}
  }
}
</script>
