<template>
  <div>
    <q-btn no-caps size="sm" label="OK" color="primary" @click="card = true" />

    <q-dialog v-model="card">
      <q-card>
        <q-card-section>
          <div class="text-h6">Card Details</div>
        </q-card-section>
        <q-card-section>
          <q-input dense square outlined v-model="form.card_number" label="Card Number" />
        </q-card-section>
         <q-card-section>
           <div class="row q-gutter-xs">
            <q-input dense class="col-3" square outlined v-model="form.month" label="month" maxlength="2" />
            <q-input dense class="col-3" square outlined v-model="form.year" label="year" maxlength="2" />
           </div>
        </q-card-section>
        <q-card-section class="row">
          <q-input dense class="col-3" square outlined v-model="form.cvv" label="CVV" maxlength="3" />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      card: false,
      form:{
        card_number : '',
        month : '',
        year : '',
        cvv : ''
      }
    }
  }
}
</script>
