<template>
  <div >
    <q-card >
      <q-item class="no-padding text-bold text-center">
        <q-item-section avatar class="bg-primary flex flex-center q-pl-sm text-white">
          <q-item-label>S/N</q-item-label>
        </q-item-section>
        <q-item-section>
          <q-item-label>Token</q-item-label>
        </q-item-section>
        <q-item-section>
            <q-item-label>Type</q-item-label>
        </q-item-section>
        <q-item-section>
          <q-item-label>Amount<br>(N)</q-item-label>
        </q-item-section>
        <q-item-section>
            <q-item-label>Charges<br>(N)</q-item-label>
        </q-item-section>
      </q-item>

      <q-list bordered separator v-for="(transaction, index) in transactions" :key="index" class="text-center">
        <q-item :class="transaction.type == 'payment' ? 'bg-red-3 no-padding' : 'bg-green-4 no-padding'">
          <q-item-section avatar class="bg-primary flex flex-center q-pl-sm text-bold text-white">
            <q-item-label>{{index + 1}}</q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label>{{transaction.id}}</q-item-label>
          </q-item-section>
          <q-item-section>
              <q-item-label>{{transaction.type}}</q-item-label>
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-bold">{{transaction.amount}}</q-item-label>
            <q-item-label caption>{{transaction.balance}}</q-item-label>
          </q-item-section>
          <q-item-section>
              <q-item-label class="text-bold">{{transaction.charges}}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-card>



  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      transactions: [
        {
          id: '12244jsdjh',
          type: 'payment',
          amount: '1000',
          balance: '12400',
          charges: '0.8',
        },
        {
          id: '12244jsdjh',
          type: 'payment',
          amount: '1000',
          balance: '12400',
          charges: '0.8',
        },
        {
          id: '12244jsdjh',
          type: 'payment',
          amount: '1000',
          balance: '12400',
          charges: '0.8',
        },
        {
          id: '12244-12',
          type: 'withdraw',
          amount: '1000',
          balance: '12400',
          charges: '0.8',
        },
        {
          id: '12161',
          type: 'withdraw',
          amount: '1000',
          balance: '12400',
          charges: '0.8',
        },
      ]
    }
  }
}
</script>
