<template>
<div>
  <q-card class="">
    <q-card-section class="">
      <div class="text-h5 text-primary text-center">Forgot Password</div>
      <div class="text-caption text-primary text-center">Type in your registered email to get a new password sent to your email</div>
    </q-card-section>
    <q-card-section v-if="error != ''" class="bg-negative q-mb-sm q-py-xs">
      <div class="text-caption text-white text-center">{{error}}</div>
    </q-card-section>
    <q-card-section class="q-py-none">
      <q-input dense outlined type="email" v-model="form.email" label="Email" />
    </q-card-section>
    <q-card-section class="">
      <q-btn color="primary" class="full-width" no-caps label="Send" @click="sending()" />
    </q-card-section>
    <q-card-actions align="center">
      <q-btn color="primary" flat class="q-px-md" no-caps label="Login" :to="{name: 'login'}" />
      <q-btn color="primary" flat class="q-px-md" no-caps label="SignUp" :to="{name: 'register'}" />
    </q-card-actions>
  </q-card>

  <q-dialog v-model="notice">
    <q-card>
      <q-card-section>
        A reset Message has been sent to {{form.email}}
      </q-card-section>
      <q-card-actions align="right">
      <q-btn flat no-caps label="OK" color="primary" @click="closer()" />
      </q-card-actions>
    </q-card>
  </q-dialog>

</div>

</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      notice:false,
      error: '',
      form:{
        email: '',
      }
    }
  },
  methods: {
    sending(){
      this.form.email == '' ? this.error = 'Please add your email' : this.notice = true
    },

    closer(){
      this.error = ''
      this.form.email = ''
      this.notice = false
    }
  },
}
</script>
