<template>
  <q-card class="">
    <q-card-section class="">
      <div class="text-h5 text-primary text-center">Login</div>
    </q-card-section>
     <q-card-section v-if="errors">
        <ul>
          <li
            v-for="error in errors"
            :key="error.id"
            class="text-left text-negative"
          >
            {{ error }}
          </li>
        </ul>
      </q-card-section>
    <q-card-section class="q-py-none q-gutter-y-xs">
      <q-input dense outlined v-model="form.email" label="Email" />
      <q-input dense outlined v-model="form.password" label="Password" />
    </q-card-section>
    <q-card-section class="">
      <q-btn color="primary" class="full-width" no-caps label="Login" :to="{name: 'packages'}" />
    </q-card-section>
    <q-card-actions align="center">
      <q-btn color="primary" flat class="q-px-md" no-caps label="Forgot Password" :to="{name: 'forget'}" />
      <q-btn color="primary" flat class="q-px-md" no-caps label="SignUp" :to="{name: 'register'}" />
    </q-card-actions>
  </q-card>
</template>

<script>
import {requestMixin} from '../mixins/ajaxMixins'
export default {
  mixins:[requestMixin],
  // name: 'ComponentName',
  data () {
    return {
      errors: null,
      form:{
        email: '',
        password: '',
      }
    }
  },

  methods: {
  async login() {
    if (!this.validEmail(this.form.email)) {
      this.errors = [];
      this.errors.push("Valid email required.");
      this.clear();
    }
    try {
      const endpoint = '/login';
      const data = this.postRequest(endpoint, this.form);
      this.$store.commit('user/login', {
        data: data.user,
        token: data.access_token
      })
      this.$router.push({ name: "packages" });
    } catch (error) {}
  },


  clear() {
      this.form.email = "";
      this.form.password = "";
    }
  }
}
</script>
